<div class="app">
  <h1>🏝️ Far Away 🧳</h1>
  <app-add-form></app-add-form>
  <div class="list">
    <ul>
      @for (item of items$ | sortBy: sortBy; track $index) {
        <li>
          <input
            type="checkbox"
            [checked]="item.isCompleted"
            (change)="toggleCompleted(item.id)"
          />
          <p [style.textDecoration]="item.isCompleted ? 'line-through' : ''">
            {{ item.quantity }} {{ item.itemValue }}
          </p>
          <button (click)="itemToRemove(item.id)">❌</button>
        </li>
      }
    </ul>
    <div class="actions">
      <select [(ngModel)]="sortBy">
        <option value="input">Sort by input order</option>
        <option value="description">Sort by description</option>
        <option value="status">Sort by packed status</option>
      </select>
      <button (click)="clearList()">Clear list</button>
      <p>
        Sorted by:
        <span
          [ngStyle]="{
            color: 'red',
            textDecoration: 'underline',
            textTransform: 'uppercase'
          }"
          >{{ sortBy }}</span
        >
      </p>
    </div>
  </div>

  <div class="stats">
    @if ((items$ | countCompletedPercentage) === 100) {
      <p>You got everything! Ready to go ✈️</p>
    } @else if (items$.length > 0) {
      <p>
        You have {{ items$.length }} items on your list, and you already packed
        {{ items$ | countCompleted }} ({{ items$ | countCompletedPercentage }}
        %)
      </p>
    } @else {
      <p>Start adding some items to your packing list 🚀</p>
    }
  </div>
</div>
